<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inventory Application | Part</title>
        <link rel="stylesheet" href="/globals.css" />
    </head>
    <body>
        <%- include('../header') %>
        <div class="part-container">
            <div class="part">
                <h1 class="part-prop">
                    Name: <span><%= parts[0].part_name %></span>
                </h1>
                <h1 class="part-prop">
                    Category: <span><%= parts[0].category_name %></span>
                </h1>
                <h1 class="part-prop">
                    Price: <span><%= parts[0].part_price %>$</span>
                </h1>
                <h1 class="part-prop">
                    Producer: <span><%= parts[0].producer_name %></span>
                </h1>
            </div>
            <div class="edit-delete-container">
                <a
                    href="/parts/<%= encodeURIComponent(parts[0].part_name) %>/edit"
                    draggable="false"
                >
                    <button>Edit</button>
                </a>
                <form
                    action="/parts/<%= encodeURIComponent(parts[0].part_name) %>/delete"
                    method="post"
                >
                    <button>Delete</button>
                </form>
            </div>
        </div>
    </body>
</html>
