<div class="part-container">
    <div class="part">
        <h1><%= parts[0].part_name %></h1>
        <h1><%= parts[0].category_name %></h1>
        <h1><%= parts[0].part_price %>$</h1>
        <h1><%= parts[0].producer_name %></h1>
    </div>
    <a href="/parts/<%= encodeURIComponent(parts[0].part_name) %>/edit">
        <button>Edit</button>
    </a>
    <form
        action="/parts/<%= encodeURIComponent(parts[0].part_name) %>/delete"
        method="post"
    >
        <button>Delete</button>
    </form>
</div>
