<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inventory Application | Edit Part</title>
        <link rel="stylesheet" href="/globals.css" />
    </head>
    <body>
        <%- include('../header') %> <%- include('../partials/errors') %>
        <h2 class="form-title">Edit a new Part</h2>
        <form
            action="/parts/<%= encodeURIComponent(locals.partName) %>/update"
            method="post"
        >
            <input
                type="text"
                name="oldPartName"
                id="oldPartName"
                value="<%= locals.oldPartName %>"
                hidden
            />
            <label for="partName">Part Name:</label>
            <br />
            <input
                type="text"
                id="partName"
                name="partName"
                value="<%= locals.partName || ''%>"
                required
            />
            <br />
            <label for="partPrice">Part Price:</label>
            <br />
            <input
                type="number"
                id="partPrice"
                name="partPrice"
                value="<%= locals.partPrice || ''%>"
                step="0.01"
                required
            />
            <br />
            <label for="partProducer">Part Producer:</label>
            <br />
            <input
                type="text"
                id="partProducer"
                name="partProducer"
                value="<%= locals.partProducer || ''%>"
                required
            />
            <br />
            <label for="partCategory">Category Name:</label>
            <br />
            <input
                type="text"
                id="partCategory"
                name="partCategory"
                value="<%= locals.partCategory %>"
                readonly
            />
            <br />
            <br />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
